.heading {
  color: rgba(65, 65, 65, 0.815);
  font-weight: bolder;
  font-size: 3rem;
  margin: 0.8em 0;
}

.paragraph {
  font-size: 1.55rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 165%;
  margin-bottom: 0.85em;
  padding: 0.25em;
  color: rgba(77, 77, 77, 0.849);
}
